<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <form method = "POST" action = "/logout"> <button>Logout</button></form>
    <p>Logged in as:<%= users[user_id].email%></p>
  <uL>
<h1>Your Tiny URLs</h1>
  <% for(url in urls){ %>

        <li><a href = <%= urls[url]['longURL'] %> target = "_blank" ><%= url %></a> - <%= urls[url]['longURL'] %> </li>
        <form method="POST" action = "/urls/<%= url %>/delete">
          <input type="submit" value = "delete">
        </form>
        <form  method="GET" action = "/urls/<%= url %>">
           <input type="submit" value = "edit">
        </form>
      <% } %>

    <li><a href = "urls/new"> Link to new </a></li>
  </uL>  <!-- Add your EJS code here -->

</body>
</html>


